@font-face {
  font-family: "Modernist";
  src: url("../fonts/modernist/Sk-Modernist-Regular.otf");
}

@font-face {
  font-family: "Modernist";
  src: url("../fonts/modernist/Sk-Modernist-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Modernist Mono";
  src: url("../fonts/modernist/Sk-Modernist-Mono.otf");
}

/* primary color pallete */
$color1: #ffe12b;
$white: #fff;
$black: #000;

/* system fonts */
$systemfonts: "Modernist", sans-serif;
$secondaryfonts: "Modernist Mono";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;

  body {
    margin: 0;
    font-family: $systemfonts;
    background-color: $color1;

    p {
      font-size: 18px;
    }
  }
}

nav {
  background-color: $black;
  color: $color1;
  padding: 0 10%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h1 {
    margin: 0;
    font-size: 25px;
    letter-spacing: 1px;
  }

  ul {
    list-style: none;

    li {
      display: inline;
      padding: 10px;
      letter-spacing: 5px;

      a {
        color: $color1;
        text-decoration: none;
        transition: all .5s ease;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

header {
  padding: 2em;

  h1 {
    margin: 0;
  }
}

// @media screen and (max-width: 510px) {

// }
